## The Concept of Time in Python
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Danselem/brics_astro/blob/main/Week5/01_time_python.ipynb)

In addition to specialized astronomical timekeeping with libraries like Astropy, Python has built-in ways to handle everyday dates and times. This is useful for things like marking when a script was run, logging observation events in a simple way, or calculating durations in human-understandable units.

Python's standard library includes modules like `datetime` and `time` for this purpose. The `datetime` module is particularly powerful for working with calendar dates and times together.

While these built-in tools don't handle the complex astronomical timescales (like BJD) or relativistic corrections that `astropy.time` provides, they are excellent for general-purpose time tracking and calculation.

In [1]:
# Example 1: Getting the Current Time in Python

# The 'datetime' module is commonly used for dates and times
import datetime

# Get the current date and time
current_moment = datetime.datetime.now()

print(f"Current local time: {current_moment}")

# You can access parts of the datetime object
print(f"Current year: {current_moment.year}")
print(f"Current month: {current_moment.month}")
print(f"Current day: {current_moment.day}")
print(f"Current hour: {current_moment.hour}")
print(f"Current minute: {current_moment.minute}")

Current local time: 2025-06-11 16:04:14.706590
Current year: 2025
Current month: 6
Current day: 11
Current hour: 16
Current minute: 4

In [ ]:
# Example 2: Creating a Specific Date and Time

# You can create a specific date and time object
# For example, the date of the first detection of a gravitational wave event (GW150914)
event_date = datetime.datetime(2015, 9, 14, 9, 50, 45) # Year, Month, Day, Hour, Minute, Second

print(f"Specific event time: {event_date}")

# You can also create just a date or just a time object
just_a_date = datetime.date(2023, 11, 15)
print(f"Just a date: {just_a_date}")

Specific event time: 2015-09-14 09:50:45
Just a date: 2023-11-15

In [ ]:
# Example 3: Calculating the Difference Between Two Times

# You can subtract one datetime object from another to get a time difference
time1 = datetime.datetime(2023, 11, 15, 10, 0, 0) # First observation
time2 = datetime.datetime(2023, 11, 15, 10, 30, 0) # Second observation

# Subtracting gives a timedelta object
duration = time2 - time1

print(f"Time difference (duration): {duration}")
print(f"Duration in minutes: {duration.total_seconds() / 60}")

# Check if a time falls within a range (less common for beginners, but useful)
start_window = datetime.datetime(2023, 11, 15, 9, 0, 0)
end_window = datetime.datetime(2023, 11, 15, 11, 0, 0)

print(f"Is {time1} within the window? {start_window <= time1 <= end_window}")

Time difference (duration): 0:30:00
Duration in minutes: 30.0
Is 2023-11-15 10:00:00 within the window? True

### Converting Columns to Datetime

Often, when you load data from a file or create a DataFrame from other sources, columns containing dates or times are treated as simple text strings or numbers. To leverage Pandas' time-aware functionalities, you need to convert these columns into a special datetime format that Pandas recognizes, typically `datetime64[ns]`. The key function for this conversion is `pd.to_datetime()`.

In [ ]:
# Example 1: Converting a Column to Datetime

import pandas as pd

# Create a simple DataFrame with date/time information as strings
event_data = {
    'Event_ID': [101, 102, 103, 104],
    'Timestamp_String': ['2023-01-05 09:00', '2023-01-06 10:30', '2023-01-07 11:00', '2023-01-08 14:15'],
    'Value': [15, 22, 18, 25]
}
events_df = pd.DataFrame(event_data)

print("Original DataFrame:")
events_df

Original DataFrame:

   Event_ID  Timestamp_String  Value
0       101  2023-01-05 09:00     15
1       102  2023-01-06 10:30     22
2       103  2023-01-07 11:00     18
3       104  2023-01-08 14:15     25

In [ ]:
print("\nData Types Before Conversion:")
events_df.dtypes # 'Timestamp_String' is likely 'object' (string)

Data Types Before Conversion:

Event_ID             int64
Timestamp_String    object
Value                int64
dtype: object

In [ ]:
# Use pd.to_datetime to convert the 'Timestamp_String' column
events_df['Timestamp_String'] = pd.to_datetime(events_df['Timestamp_String'])

print("\nDataFrame After Conversion:")
events_df

DataFrame After Conversion:

   Event_ID    Timestamp_String  Value
0       101 2023-01-05 09:00:00     15
1       102 2023-01-06 10:30:00     22
2       103 2023-01-07 11:00:00     18
3       104 2023-01-08 14:15:00     25

In [ ]:
print("\nData Types After Conversion:")
events_df.dtypes # 'Timestamp_String' is now 'datetime64[ns]'

Data Types After Conversion:

Event_ID                     int64
Timestamp_String    datetime64[ns]
Value                        int64
dtype: object

### Filtering DataFrames by Time

Once you have a column with the `datetime64[ns]` data type, you can easily filter your DataFrame to select rows based on specific dates, times, or time ranges. Pandas allows you to use comparison operators (`>=`, `<=`, `==`) and even slice using date strings directly on a datetime column (or index).

In [ ]:
# Example 2: Filtering a DataFrame by Time Ranges

# Using the DataFrame from Example 1, with 'Timestamp_String' converted
print("DataFrame for Filtering:")
events_df

DataFrame for Filtering:

   Event_ID    Timestamp_String  Value
0       101 2023-01-05 09:00:00     15
1       102 2023-01-06 10:30:00     22
2       103 2023-01-07 11:00:00     18
3       104 2023-01-08 14:15:00     25

In [ ]:
# Filter for events on or after a specific date
filter_start_date = '2023-01-06'
events_after_date = events_df[events_df['Timestamp_String'] >= filter_start_date]
print(f"\nEvents on or after {filter_start_date}:")
events_after_date

Events on or after 2023-01-06:

   Event_ID    Timestamp_String  Value
1       102 2023-01-06 10:30:00     22
2       103 2023-01-07 11:00:00     18
3       104 2023-01-08 14:15:00     25

In [ ]:
# Filter for events between two dates
start_range = '2023-01-06'
end_range = '2023-01-07 23:59:59' # Include the whole day of the 7th
events_in_range = events_df[(events_df['Timestamp_String'] >= start_range) & (events_df['Timestamp_String'] <= end_range)]
print(f"\nEvents between {start_range} and {end_range} (inclusive):")
events_in_range

Events between 2023-01-06 and 2023-01-07 23:59:59 (inclusive):

   Event_ID    Timestamp_String  Value
1       102 2023-01-06 10:30:00     22
2       103 2023-01-07 11:00:00     18

### Using Time as the DataFrame Index

For data that is inherently sequential in time (like time series data), it is often very convenient to set the column containing the time information as the DataFrame's index. This allows for powerful and concise time-based slicing, lookups, and operations.

In [ ]:
# Example 3: Setting Time as DataFrame Index

# Using the DataFrame from Example 1, with 'Timestamp_String' as datetime
print("DataFrame Before Setting Index:")
events_df[['Event_ID', 'Timestamp_String', 'Value']]

DataFrame Before Setting Index:

   Event_ID    Timestamp_String  Value
0       101 2023-01-05 09:00:00     15
1       102 2023-01-06 10:30:00     22
2       103 2023-01-07 11:00:00     18
3       104 2023-01-08 14:15:00     25

In [ ]:
# Set the 'Timestamp_String' column as the index
# drop=True removes the column from the DataFrame after setting it as index
events_df_indexed = events_df.set_index('Timestamp_String', drop=True)

print("\nDataFrame with Timestamp_String as Index:")
events_df_indexed

DataFrame with Timestamp_String as Index:

                     Event_ID  Value
Timestamp_String
2023-01-05 09:00:00       101     15
2023-01-06 10:30:00       102     22
2023-01-07 11:00:00       103     18
2023-01-08 14:15:00       104     25

In [ ]:
# You can now slice the DataFrame using time strings directly on the index
# Slicing on a datetime index is often inclusive of the end bound
slice_by_date_string = events_df_indexed['2023-01-06':'2023-01-07'] # Slice from 2023-01-06 up to and including 2023-01-07
print(f"\nSlice using index ['2023-01-06':'2023-01-07']:")
slice_by_date_string

Slice using index ['2023-01-06':'2023-01-07']:

                     Event_ID  Value
Timestamp_String
2023-01-06 10:30:00       102     22
2023-01-07 11:00:00       103     18

In [ ]:
# Selecting data for a specific day
select_day_data = events_df_indexed.loc['2023-01-08']
print(f"\nSelect data for '2023-01-08' using index.loc:")
select_day_data # Note: .loc is generally preferred for label-based indexing

Select data for '2023-01-08' using index.loc:

                     Event_ID  Value
Timestamp_String
2023-01-08 14:15:00       104     25